/* loading screen + spinner */

.loading-screen {
    width: 100%;
    height: 100%;
    background-color: rgb(24, 82, 90);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.spinner::before,
.spinner:after{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.spinner:before {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(90deg, pink 0%,lightgreen 100% );
    animation: spin .5s infinite linear;
}
.spinner:after {
    width: 90%;
    height: 90%;
    background-color: rgb(24, 82, 90);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* gameboard */

#wormboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(24, 82, 90);
    border-radius: 5px;
}

#score {
    text-align: center;
    color: white;
    font-size: 120px;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
    background: rgb(47,150,163);
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.worm-app {
    height: 440px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.time-container,
.game-container,
.score-container {
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.time-container,
.score-container {
    justify-content: center;
}

h1,
h2,
h3,
p {
    font-family: sans-serif;
    margin: 10px;
    color: white;
}

h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

h2 {
    font-weight: normal;
    font-size: 120px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 14px;
}

#time-display {
    color: white;
}

button {
    color: rgb(24, 82, 90);
    width: 120px;
    height: 60px;
    background: white;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0,5s ease;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid rgb(24, 82, 90);
}

#start-button:hover {
    color: white;
    background: rgb(47,150,163);
}

.yourHighscore h3 {
    text-align: center;    
}

/* smaller screen */

@media only screen and (max-width: 860px) {

    .worm-app {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 900px;
        width: 100%;
        justify-content: space-evenly;
    }

    .yourHighscore {
        padding-bottom: 20px;
    }

    #time-display,
    #score {
        font-size: 80px;
    }

    #start-button {
        width: 100px;
        height: 40px;
        font-size: 24px;
    } 

}